h1 {
  color: orange;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  padding-left: 10px;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#hive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#divhive {
  background-color: rgba(0, 0, 0, 0.192);
  background-image: url(img/1024px-Hive_World_Craggy_Outside.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#divtita {
  background-image: url(img/1024px-Hive_World_Gloomy_Sky.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#tita {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

a {
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.562);
  color: yellow;
}

a:active {
  background-color: rgb(3, 0, 206);
}

#voltar {
  margin-top: 20px;
}

div {
  text-align: center;
}

#demp {
  background-image: url(img/Hive_World_Rocky_Cave_Covering.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#hauto {
  color: rgb(189, 69, 69);
}

#camdiv {
  background-image: url(img/Rainforests_of_Tarsh.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#hulkdiv {
  background-image: url(img/Helldivers_2_SS_1.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#tandiv {
  background-image: url(img/Mastia_jammer.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#hilu {
  color: rgb(117, 117, 235);
}
