h1 {
  color: orange;
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

body {
  background-color: rgb(41, 41, 41);
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#hive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
