h1 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

h2 {
  font-size: 30px;
  padding-left: 20px;
}

.lista {
  display: inline-block;
}

div {
  text-align: center;
}

body {
  background-image: url(img/homemedia.webp);
  background-color: rgba(0, 0, 0, 0.699);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 30vh;
}

input {
  background-color: rgba(0, 0, 0, 0.089);
  color: white;
}

button {
  background-color: rgba(255, 230, 0, 0.836);
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url(img/homepequeno.webp);
  }
}

@media only screen and (min-width: 1500px) {
  body {
    background-image: url(img/helldivers-2-video-thumbnail-01-en-06dec23.webp);
  }
}
